* {

  box-sizing: border-box;
}

body {

  font-family: sans-serif;
  background: #f5f5f5;
  padding-top: 46px;
}

ul {
  list-style: none;
}

.header {
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: rgba(217, 24, 24, 0.88);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 99;
}

.header-block {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-menu {
  border: none;
  outline: none;
  width: 32px;
  height: 32px;
  background-color: transparent;
  display: none;
  flex-direction: column;
  padding: 0;
  justify-content: space-around;
  margin-left: 12px;
}

.m-menu .line {
  width: 100%;
  height: 1px;
  background-color: #fff;

}

.search-input {
  font-size: 14px;
  line-height: 22px;
  padding: 3px 30px 5px 12px;
  width: 336px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: right 12px center;
  outline: none;

}

.container {
  max-width: 1250px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.menu-sidebar {
  width: 200px;
  margin-top: 130px;
  margin-right: 12px;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 8px 4px;
  text-decoration: none;
  color: #595959;
  line-height: 22px;
  font-weight: 600;
  font-size: 16px;
  transition: background 1s ease-in-out,
}

.nav-link:hover {
  background-color: rgba(244, 218, 218, 0.88);
}

.nav-text {
  margin-left: 8px;
}

.nav-text--span {
  color: #1890FF;
  margin-left: 12px;
}


.nav-title {
  padding-left: 10px;
  color: #262626;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 4px;
  margin-top: 0;
  line-height: 20px;
}


.main-feed {
  max-width: 988px;
  margin-top: 18px;
  flex-grow: 1;
}

.create-post {

  background: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 100%;
}


.create-post-title {
  margin: 0;
  color: #595959;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;

}

.create-post-body {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
}

.create-post-input {
  padding: 8px;
  width: 90%;
  line-height: 22px;
  font-weight: 600;
  font-size: 22px;
  margin: 0;
}

.create-post-input span {
  color: #d0c9c9;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
}

.create-post-input__result {
  color: #d0c9c9;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  padding: 8px;
  padding-top: 0px;
  margin: 0;
}

.create-post-footer:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e8e8e8;
  margin-bottom: 16px;

}


.post {
  background: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 16px 0;
  padding: 16px;
  transition: transform 1s ease-in-out;
  cursor: pointer;
}

.post:hover {
  transform: translateY(-5px);
}

.post-header {}

.post-header__row-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.post-header__block {
  width: 50px;
  height: 50px;
  background-color: rgba(46, 177, 46, 0.89);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #bfbfbf;
  letter-spacing: 1px;

}

.post-header__block-IP {
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
}

.post-header__block-IP span {
  color: #d0c9c9;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-left: 40px;
}

.post-header__block-name {
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
}

.post-header__block-name span {
  color: #d0c9c9;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-left: 20px;
  text-transform: none;
}

.post-header__block-owner {
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
}


.post-header__block-owner span {
  color: #d0c9c9;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-left: 65px;
  text-transform: none;
}

.post-header__block-comments {
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
}

.post-header__block-comments span {
  color: #d0c9c9;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-left: 20px;
  text-transform: none;
}

.post-header__row-bottom {
  display: flex;
  align-items: center;
  padding: 5px 170px;
  padding-left: 130px;
}

.post-header__block-icon {
  display: block;
  width: 20px;
  height: 20px;
  background: #007bff;
  position: relative;
}

.post-header__block-icon::after {
  content: "";
  display: block;
  position: absolute;
  right: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #007bff;
}

.post-header__block-tab {
  color: #777777;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 15px;
  background-color: #ebebeb;
  margin-left: 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: background 1s ease-in-out;
  border: 1px solid #007bff;
}

.post-header__block-tab:hover {
  background: rgba(166, 198, 242, 0.92);
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pagination__item:not(:last-child) {
  margin-right: 8px;
}

.pagination__link {
  display: inline-flex;
  border: 2px solid #eee;
  align-items: center;
  color: grey;
  font-size: 10px;
  height: 40px;
  padding: 0 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 1s ease-in-out, background 1s ease-in-out;
  
}

.pagination__link--current {
  color: #fff;
  background-color: forestgreen;
  border: 2px solid forestgreen;
}

.pagination__link:hover {
  color: #fff;
  background-color: forestgreen;
}
